.main-container {
    max-width: 1200px;
}

#canvas {
    width: 1002px;
    margin: auto;
    height: 202px;
    background-color: lightgray;
    border: 1px solid gray;
}

.row-spacing {
    margin-top: 15px;
    margin-bottom: 10px;
}

.json-table {
    width: 100%;
}

.json-table caption{
    text-align: center;
}

.json-table th {
    width: 50%;
    text-align: right;
}

.json-table td {
    width: 50%;
    text-align: left;
}

.json-table th, .json-table td {
    padding-left: 5px;
    padding-right: 5px;
}

#introduction {
    padding-top: 3em;
    text-align: center;
    font-family: 'Sahitya', serif;
    font-size: 1.5em;
}