<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Balancing game</title>

    <!-- external includes -->
    <script type="text/javascript" src="vendors.min.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors.css"/>

    <!-- game -->
    <script type="text/javascript" src="game.js"></script>
    <link rel="stylesheet" type="text/css" href="game.css"/>
    <link href="https://fonts.googleapis.com/css?family=Sahitya" rel="stylesheet">

    <!-- lib dependencies -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js"></script>

    <!-- dynamically loaded -->
</head>
<body>

<main class="container-fluid main-container"
      ng-app="balancingGame">

    <div class="row row-spacing">
        <!-- for jsql drawing -->
        <div id="canvas"></div>
    </div>

    <!-- game controllers -->
    <div id="game" ng-controller="gameController as game">

        <div class="row row-spacing">

            <div class="col-xs-4">
                <table class="json-table">
                    <caption>Config</caption>
                    <tbody>
                        <tr>
                            <th><label for="config-trackLimit">trackLimit</label></th>
                            <td><input type="number" min="0" max="5" step="0.1"
                                       id="config-trackLimit"
                                       value="game.config.trackLimit"
                                       ng-model="game.config.trackLimit"/>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="config-failureAngle">failureAngle</label></th>
                            <td><input type="number" min="0" max="1.57" step="0.1"
                                       id="config-failureAngle"
                                       value="game.config.failureAngle"
                                       ng-model="game.config.failureAngle"/>
                            </td>
                        </tr>

                        <tr>
                            <th><label for="config-randomAngle">randomAngle</label></th>
                            <td><input type="checkbox"
                                   id="config-randomAngle"
                                   ng-model="game.config.randomAngle"/>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="config-timeSpeed">time</label></th>
                            <td>{{game.config.time}}</td>
                        </tr>
                        <tr>
                            <th><label for="config-tstep">tstep</label></th>
                            <td><span id="config-tstep">{{game.config.tstep}}</span></td>
                        </tr>
                        <tr>
                            <th><label for="config-timeSpeed">timeSpeed</label></th>
                            <td><input type="number" min="0" step="0.1"
                                       id="config-timeSpeed"
                                       value="game.config.timeSpeed"
                                       ng-model="game.config.timeSpeed"/>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="config-force">force</label></th>
                            <td><input type="number" min="0" step="0.1"
                                       id="config-force"
                                       value="game.config.force"
                                       ng-model="game.config.force"/>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="config-forceDir">forceDir</label></th>
                            <td><span id="config-forceDir">{{game.config.forceDir ? "right" : "left"}}</span></td>
                        </tr>
                        <tr>
                            <th><label for="config-gravity">gravity</label></th>
                            <td><input type="number" min="0"
                                       id="config-gravity"
                                       value="game.config.g"
                                       ng-model="game.config.g"/>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-xs-4">
                <json-table data-json="game.cart" data-caption="Cart"></json-table>
            </div>
            <div class="col-xs-4">
                <json-table data-json="game.pole" data-caption="Pole"></json-table>
            </div>

        </div>

        <div class="row row-spacing">
            <div class="col-xs-12">
                <div class="center-block text-center">
                    <button id="push-left" ng-click="game.pushLeft()" type="button" class="btn btn-default">push left (left)</button>
                    <toggle type="checkbox" checked
                            ng-model="game.config.forceDir"
                            on="RIGHT -->" off="<-- LEFT"
                            onstyle="btn-success" offstyle="btn-success"></toggle>
                    <button id="push-right" ng-click="game.pushRight()" type="button" class="btn btn-default">push right (right)</button>
                </div>
            </div>
        </div>

        <div class="row row-spacing">
            <div class="col-xs-12">
                <div class="center-block text-center">
                    <button id="reset" ng-click="game.reset()" type="button" class="btn btn-danger">reset (r)</button>
                    <button id="start" ng-click="game.start()" type="button" class="btn btn-primary">start (t)</button>
                    <button id="step" ng-click="game.step()" type="button" class="btn btn-info">step (space)</button>
                    <button id="stop" ng-click="game.stop()" type="button" class="btn btn-warning">stop (s)</button>
                </div>
            </div>
        </div>

    </div>

    <div id="introduction" class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            Hi,<br>
            <br>
            I am IT student at CTU FIT in Prague and this is part of my diploma thesis. You can <a target="_blank" href="../../thesis.pdf">read</a> it or <a target="_blank" href="../../sources.zip">download sources</a>.
            <br>
            You can play this game by yourself or click <a class="start-tsneatevo" href="javascript: insertBalacingScripts()">here</a> and let autonomous bots learn how to play it for you.
        </div>
    </div>

    <script type="text/javascript">
        function insertBalacingScripts() {

            var controlsScript = $('<script>').attr('src', "../lib.controls.js");
            var balancingScript  = $('<script>').attr('src', "../balancingbot/lib.balancing.js");
            $('head').append(controlsScript);
            $('head').append(balancingScript);

            $('#tsneatevocycle-controller')
                .show()
                .position({
                    of: $(window)
                });
        }
    </script>
</main>



</body>
</html>