<div id="tsneatevocycle-controller"
     ng-controller="tsNeatEvoCycleCtrl as ecCtrl">

    <!--///////////////////-->
    <h1>EvoCycle Controls</h1>

    <div class="tsneatevocycle-controller__section">
        <div class="tsneatevocycle-controller__column--66">
            <button type="button" class="btn btn-sm btn-default" ng-click="ecCtrl.continue()">start/continue</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="ecCtrl.continue(true)">process single generation</button>
            <button type="button" class="btn btn-sm btn-default" ng-click="ecCtrl.model.config.cycle.continue = false">pause after generation</button>
            <span>continuous: {{ecCtrl.model.config.cycle.continue}}</span>
        </div>
        <div class="tsneatevocycle-controller__column--34 tsneatevocycle-controller--content-float-right">
            <!--<button type="button" class="btn btn-sm btn-default" ng-click="ecCtrl.loadModel()">load</button>-->
            <!--<button type="button" class="btn btn-sm btn-default" ng-click="ecCtrl.saveModel()">save</button>-->
        </div>
        <div class="clearfix"></div>
    </div>

    <!--//////////-->
    <h2>Overview</h2>

    <div class="tsneatevocycle-controller__section">
        <div class="tsneatevocycle-controller__column--50">
            <div google-chart chart="ecCtrl.fitnessChartObject"
                 id="tsneatevocycle-controller__fitness-graph" class="tsneatevocycle-controller__google-graph">
            </div>
        </div>

        <div class="tsneatevocycle-controller__column--50">
            <div google-chart chart="ecCtrl.speciesChartObject"
                 id="tsneatevocycle-controller__species-graph" class="tsneatevocycle-controller__google-graph">
            </div>
        </div>
    </div>

    <!--/////////-->
    <h2>Current</h2>

    <div class="tsneatevocycle-controller__section">
        <div id="tsneatevocycle-controller__current__individual">
            <div class="tsneatevocycle-controller__current__individual-icons">
                <span>
                    <span ng-click="ecCtrl.state.current.viewLong = !ecCtrl.state.current.viewLong">
                        [{{ecCtrl.state.current.viewLong ? "-" : "+"}}long]
                    </span>
                </span>
            </div>
            <div class="tsneatevocycle-controller__current__individual-short">
                <span>Individual = {id = {{ecCtrl.model.current.id}}; fitness: {{ecCtrl.model.current.fitness}}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="tsneatevocycle-controller__current__individual-long" ng-show="ecCtrl.state.current.viewLong">
                <pre>{{ecCtrl.model.current.toString()}}</pre>
            </div>
        </div>
    </div>

    <!--/////////////////////////////////////////////////-->
    <h2>Generation: #{{ecCtrl.model.generationCounter}}</h2>

    <div class="tsneatevocycle-controller__section">

        <!--////////////-->
        <h3>Population</h3>

        <div class="tsneatevocycle-controller__section">
            <div class="tsneatevocycle-controller__population-list__individual-icons">
                <span>
                    <span ng-click="ecCtrl.state.population.viewLong[0] = !ecCtrl.state.population.viewLong[0]">
                        [{{ecCtrl.state.population.viewLong[0] ? "-" : "+"}}long]
                    </span>
                </span>
            </div>
            <div class="clearfix"></div>
            <ul class="tsneatevocycle-controller__population-list">
                <li ng-repeat="individual in ecCtrl.model.population track by $index">
                    <div id="tsneatevocycle-controller__population-list__individual-{{individual.id}}">
                        <div class="tsneatevocycle-controller__population-list__individual-icons">
                            <span>
                                <span ng-click="ecCtrl.state.population.viewLong[individual.id] = !ecCtrl.state.population.viewLong[individual.id]">
                                    [{{ecCtrl.state.population.viewLong[0] || ecCtrl.state.population.viewLong[individual.id] ? "-" : "+"}}long]
                                </span>
                                <!--<span ng-click="ecCtrl.state.viewGraph[individual.id] = !ecCtrl.state.viewGraph[individual.id]">-->
                                    <!--[{{ecCtrl.state.viewGraph[0] || ecCtrl.state.viewGraph[individual.id] ? "-" : "+"}}graph]-->
                                <!--</span>-->
                            </span>
                        </div>
                        <div class="tsneatevocycle-controller__population-list__individual-short">
                            <span>{{$index + 1}}: Individual = {id = {{individual.id}}; fitness: {{individual.fitness}}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tsneatevocycle-controller__population-list__individual-long" ng-show="ecCtrl.state.population.viewLong[0] || ecCtrl.state.population.viewLong[individual.id]">
                            <pre>{{individual.toString()}}</pre>
                        </div>
                        <!--<div class="tsneatevocycle-controller__population-list__individual-graph" ng-show="ecCtrl.state.viewGraph[0] || ecCtrl.state.viewGraph[individual.id]">-->
                            <!--<individual-graph individual="individual"></individual-graph>-->
                        <!--</div>-->
                    </div>
                </li>
            </ul>
        </div>

        <!--/////////////////////////////-->
        <h3>Selected parents by species</h3>

        <!-- TODO here it generates JSON stringify circular error -->
        <div class="tsneatevocycle-controller__section">
            <div class="tsneatevocycle-controller__parents-list__individual-icons">
                <span>
                    <span ng-click="ecCtrl.state.parents.viewLong[0] = !ecCtrl.state.parents.viewLong[0]">
                        [{{ecCtrl.state.parents.viewLong[0] ? "-" : "+"}}long]
                    </span>
                </span>
            </div>
            <div class="clearfix"></div>
            <ul ng-repeat="specie in ecCtrl.model.parents" class="tsneatevocycle-controller__parents-list">
                <li ng-repeat="individual in specie track by $index">
                    <div id="tsneatevocycle-controller__parents-list__individual-{{individual.id}}">

                        <div class="tsneatevocycle-controller__parents-list__individual-icons">
                            <span>
                                <span ng-click="ecCtrl.state.parents.viewLong[individual.id] = !ecCtrl.state.parents.viewLong[individual.id]">
                                    [{{ecCtrl.state.parents.viewLong[0] || ecCtrl.state.parents.viewLong[individual.id] ? "-" : "+"}}long]
                                </span>
                            </span>
                        </div>
                        <div class="tsneatevocycle-controller__parents-list__individual-short">
                            <span>{{$index + 1}}: Individual = {id = {{individual.id}}; fitness: {{individual.fitness}}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tsneatevocycle-controller__parents-list__individual-long" ng-show="ecCtrl.state.parents.viewLong[0] || ecCtrl.state.parents.viewLong[individual.id]">
                            <pre>{{individual.toString()}}</pre>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--////////////////////////////////-->
        <h3>Generated offspring by species</h3>

        <div class="tsneatevocycle-controller__section">
            <div class="tsneatevocycle-controller__offsprings-list__individual-icons">
                <span>
                    <span ng-click="ecCtrl.state.offsprings.viewLong[0] = !ecCtrl.state.offsprings.viewLong[0]">
                        [{{ecCtrl.state.offsprings.viewLong[0] ? "-" : "+"}}long]
                    </span>
                </span>
            </div>
            <div class="clearfix"></div>
            <ul ng-repeat="specie in ecCtrl.model.offsprings" class="tsneatevocycle-controller__offsprings-list">
                <li ng-repeat="individual in specie track by $index">
                    <div id="tsneatevocycle-controller__offsprings-list__individual-{{individual.id}}">
                        <div class="tsneatevocycle-controller__offsprings-list__individual-icons">
                            <span>
                                <span ng-click="ecCtrl.state.offsprings.viewLong[individual.id] = !ecCtrl.state.offsprings.viewLong[individual.id]">
                                    [{{ecCtrl.state.offsprings.viewLong[0] || ecCtrl.state.offsprings.viewLong[individual.id] ? "-" : "+"}}long]
                                </span>
                            </span>
                        </div>
                        <div class="tsneatevocycle-controller__offsprings-list__individual-short">
                            <span>{{$index + 1}}: Individual = {id = {{individual.id}}; fitness: {{individual.fitness}}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tsneatevocycle-controller__offsprings-list__individual-long" ng-show="ecCtrl.state.offsprings.viewLong[0] || ecCtrl.state.offsprings.viewLong[individual.id]">
                            <pre>{{individual.toString()}}</pre>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--////////////////////////////////-->
        <h3>Mutated individuals from population<span ng-show="ecCtrl.model.config.mutationOptions.mutateOffsprings"> and offspring</span></h3>

        <div class="tsneatevocycle-controller__section">
            <div class="tsneatevocycle-controller__mutants-list__individual-icons">
                <span>
                    <span ng-click="ecCtrl.state.mutants.viewLong[0] = !ecCtrl.state.mutants.viewLong[0]">
                        [{{ecCtrl.state.mutants.viewLong[0] ? "-" : "+"}}long]
                    </span>
                </span>
            </div>
            <div class="clearfix"></div>
            <ul class="tsneatevocycle-controller__mutants-list">
                <li ng-repeat="individual in ecCtrl.model.mutants track by $index">
                    <div id="tsneatevocycle-controller__mutants-list__individual-{{individual.id}}">
                        <div class="tsneatevocycle-controller__mutants-list__individual-icons">
                            <span>
                                <span ng-click="ecCtrl.state.mutants.viewLong[individual.id] = !ecCtrl.state.mutants.viewLong[individual.id]">
                                    [{{ecCtrl.state.mutants.viewLong[0] || ecCtrl.state.mutants.viewLong[individual.id] ? "-" : "+"}}long]
                                </span>
                            </span>
                        </div>
                        <div class="tsneatevocycle-controller__mutants-list__individual-short">
                            <span>{{$index + 1}}: Individual = {id = {{individual.id}}; fitness: {{individual.fitness}}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tsneatevocycle-controller__mutants-list__individual-long" ng-show="ecCtrl.state.mutants.viewLong[0] || ecCtrl.state.mutants.viewLong[individual.id]">
                            <pre>{{individual.toString()}}</pre>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <!--/////////-->
    <h2>Options</h2>

    <div class="tsneatevocycle-controller__section">

        <div class="tsneatevocycle-controller__column--50">
            <!-- GENERAL -->
            <table class="tsneatevocycle-controller__config-table">
                <caption><h3>General</h3></caption>

                <tr>
                    <th><label for="tsneatevocycle-controller-config-always_evaluate_fitness">always evaluate fitness</label></th>
                    <td><input type="checkbox"
                               id="tsneatevocycle-controller-config-always_evaluate_fitness"
                               ng-model="ecCtrl.model.config.general.alwaysEvaluateFitness"/></td>
                </tr>

            </table>

            <!-- DISTANCE -->
            <table class="tsneatevocycle-controller__config-table">
                <caption><h3>Distance function</h3></caption>

                <tr>
                    <th><label for="tsneatevocycle-controller-config-excess_coef">excess coef (E)</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-excess_coef"
                               value="ecCtrl.model.config.speciation.excessCoef"
                               ng-model="ecCtrl.model.config.speciation.excessCoef"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-disjoint_coef">disjoint coef (D)</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-disjoint_coef"
                               value="ecCtrl.model.config.speciation.disjointCoef"
                               ng-model="ecCtrl.model.config.speciation.disjointCoef"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-matching_coef">matching coef (M)</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-matching_coef"
                               value="ecCtrl.model.config.speciation.matchingCoef"
                               ng-model="ecCtrl.model.config.speciation.matchingCoef"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-distance_threshold">distance threshold</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-distance_threshold"
                               value="ecCtrl.model.config.speciation.distanceThreshold"
                               ng-model="ecCtrl.model.config.speciation.distanceThreshold"/></td>
                </tr>

            </table>

            <!-- CROSSOVER -->
            <table class="tsneatevocycle-controller__config-table">
                <caption><h3>Crossover options</h3></caption>

                <tr>
                    <th><label for="tsneatevocycle-controller-config-offspring_ratio">offspring ratio</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-offspring_ratio"
                               value="ecCtrl.model.config.crossoverOptions.offspringRatio"
                               ng-model="ecCtrl.model.config.crossoverOptions.offspringRatio"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-tournament_ratio">tournament ratio</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-tournament_ratio"
                               value="ecCtrl.model.config.crossoverOptions.tournamentRatio"
                               ng-model="ecCtrl.model.config.crossoverOptions.tournamentRatio"/></td>
                </tr>

            </table>
        </div>


        <div class="tsneatevocycle-controller__column--50">
            <!-- MUTATION -->
            <table class="tsneatevocycle-controller__config-table">
                <caption><h3>Chance to Mutate</h3></caption>

                <tr>
                    <th><label for="tsneatevocycle-controller-config-mutate_offsprings">mutate offsprings</label></th>
                    <td><input type="checkbox"
                               id="tsneatevocycle-controller-config-mutate_offsprings"
                               ng-model="ecCtrl.model.config.mutationOptions.mutateOffsprings"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-mutate_by_cloning">mutate by cloning (not applied to offsprings)</label></th>
                    <td><input type="checkbox"
                               id="tsneatevocycle-controller-config-mutate_by_cloning"
                               ng-model="ecCtrl.model.config.mutationOptions.mutateByCloning"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-chance_to_mutate_individual_topology">individual topology</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-chance_to_mutate_individual_topology"
                               value="ecCtrl.model.config.mutationOptions.individualTopology.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualTopology.chance"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-chance_to_add_node">add node</label></th>
                    <td><input type="number" min="0" max="1" step="0.01"
                               id="tsneatevocycle-controller-config-chance_to_add_node"
                               value="ecCtrl.model.config.mutationOptions.individualTopology.addNode.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualTopology.addNode.chance"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-chance_to_add_connection">add connection</label></th>
                    <td><input type="number" min="0" max="1" step="0.01"
                               id="tsneatevocycle-controller-config-chance_to_add_connection"
                               value="ecCtrl.model.config.mutationOptions.individualTopology.addConnection.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualTopology.addConnection.chance"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-add_node_xor_add_connection">exclusive add node or add connection</label></th>
                    <td><input type="checkbox"
                               id="tsneatevocycle-controller-config-add_node_xor_add_connection"
                               ng-model="ecCtrl.model.config.mutationOptions.individualTopology.addNodeXORaddConnection"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-chance_to_mutate_individual_weights">individual weights</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-chance_to_mutate_individual_weights"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.chance"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-chance_to_mutate_weights">weights</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-chance_to_mutate_weights"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.weights.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.weights.chance"/></td>
                </tr>
                <tr>
                    <th class="tsneatevocycle-controller__config-table--indented">
                        <label for="tsneatevocycle-controller-config-chance_to_mutate_single_weight">single weight</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-chance_to_mutate_single_weight"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.weights.mutateSingle.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.weights.mutateSingle.chance"/></td>
                </tr>
                <tr>
                    <th class="tsneatevocycle-controller__config-table--indented">
                        <label for="tsneatevocycle-controller-config-mutation_stdev_weight">standard deviation</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-mutation_stdev_weight"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.weights.mutateSingle.stdev"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.weights.mutateSingle.stdev"/></td>
                </tr>
                <tr>
                    <th><label for="tsneatevocycle-controller-config-chance_to_mutate_thresholds">thresholds</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-chance_to_mutate_thresholds"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.thresholds.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.thresholds.chance"/></td>
                </tr>
                <tr>
                    <th class="tsneatevocycle-controller__config-table--indented">
                        <label for="tsneatevocycle-controller-config-chance_to_mutate_single_threshold">single threshold</label></th>
                    <td><input type="number" min="0" max="1" step="0.1"
                               id="tsneatevocycle-controller-config-chance_to_mutate_single_threshold"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.thresholds.mutateSingle.chance"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.thresholds.mutateSingle.chance"/></td>
                </tr>
                <tr>
                    <th class="tsneatevocycle-controller__config-table--indented">
                        <label for="tsneatevocycle-controller-config-mutation_stdev_threshold">standard deviation</label></th>
                    <td><input type="number" min="0" step="0.1"
                               id="tsneatevocycle-controller-config-mutation_stdev_threshold"
                               value="ecCtrl.model.config.mutationOptions.individualWeights.thresholds.mutateSingle.stdev"
                               ng-model="ecCtrl.model.config.mutationOptions.individualWeights.thresholds.mutateSingle.stdev"/></td>
                </tr>

            </table>
        </div>

    </div>

</div>
