#tsneatevocycle-controller,
#tsneatevocycle-controller * {
    user-select: text;
}

#tsneatevocycle-controller {
    display: block;
    border: 1px solid gray;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 1000px;
    height: 720px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
}

#tsneatevocycle-controller .tsneatevocycle-controller__section {
    position: relative;
    clear: both;
}

#tsneatevocycle-controller .tsneatevocycle-controller__column--66 {
    float: left;
    width: 66%;
}

#tsneatevocycle-controller .tsneatevocycle-controller__column--50 {
    float: left;
    width: 50%;
}

#tsneatevocycle-controller .tsneatevocycle-controller__column--34 {
    float: left;
    width: 34%;
}

#tsneatevocycle-controller h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

#tsneatevocycle-controller .tsneatevocycle-controller--content-float-right * {
    float: right;
}

#tsneatevocycle-controller .tsneatevocycle-controller__google-graph {
    width: 100%;
}

#tsneatevocycle-controller h1 {
    cursor: move;
}

#tsneatevocycle-controller .tsneatevocycle-controller__config-table--indented {
    padding-left: 20px;
}

#tsneatevocycle-controller .tsneatevocycle-controller__population-list,
#tsneatevocycle-controller .tsneatevocycle-controller__parents-list,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list,
#tsneatevocycle-controller .tsneatevocycle-controller__mutants-list {
    list-style-type: none;
    padding-left: 0px;
}

#tsneatevocycle-controller .tsneatevocycle-controller__parents-list,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list {
    margin-top: 10px;
    border-top: 1px solid gray;
}

#tsneatevocycle-controller .tsneatevocycle-controller__parents-list:first-of-type,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list:first-of-type {
    margin-top: auto;
    border-top: none;
}

#tsneatevocycle-controller .tsneatevocycle-controller__current__individual-icons,
#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-icons,
#tsneatevocycle-controller .tsneatevocycle-controller__parents-list__individual-icons,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list__individual-icons,
#tsneatevocycle-controller .tsneatevocycle-controller__mutants-list__individual-icons {
    float: right;
    font-family: monospace;
}

#tsneatevocycle-controller .tsneatevocycle-controller__current__individual-icons > span > span,
#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-icons > span > span,
#tsneatevocycle-controller .tsneatevocycle-controller__parents-list__individual-icons > span > span,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list__individual-icons > span > span,
#tsneatevocycle-controller .tsneatevocycle-controller__mutants-list__individual-icons > span > span {
    cursor: pointer;
}

#tsneatevocycle-controller .tsneatevocycle-controller__current__individual-short,
#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-short,
#tsneatevocycle-controller .tsneatevocycle-controller__parents-list__individual-short,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list__individual-short,
#tsneatevocycle-controller .tsneatevocycle-controller__mutants-list__individual-short {
    float: left;
}

#tsneatevocycle-controller .tsneatevocycle-controller__current__individual-long,
#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-long,
#tsneatevocycle-controller .tsneatevocycle-controller__parents-list__individual-long,
#tsneatevocycle-controller .tsneatevocycle-controller__offsprings-list__individual-long,
#tsneatevocycle-controller .tsneatevocycle-controller__mutants-list__individual-long {
    display: block;
    clear: both;
    width: 100%;
}
/* using go.js depracated */
/*#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-graph {*/
    /*display: block;*/
    /*clear: both;*/
    /*width: 100%;*/
/*}*/

/*#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-graph > div {*/
    /*padding: 9.5px;*/
    /*margin: 0 0 10px;*/
    /*background-color: #f5f5f5;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*-webkit-tap-highlight-color: initial !important;*/

    /*width: 988px;*/
/*}*/

/*#tsneatevocycle-controller .tsneatevocycle-controller__population-list__individual-graph > div > canvas {*/
    /*outline: none;*/
/*}*/

#tsneatevocycle-controller .tsneatevocycle-controller__config-table {
    margin-bottom: 1rem;
}

#tsneatevocycle-controller table caption h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#tsneatevocycle-controller table tr > th,
#tsneatevocycle-controller table tr > td {
    padding-right: 5px;
    padding-left: 5px;
}

#tsneatevocycle-controller .clearfix {
    clear: both;
}